<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees Login</title>
    <link rel="stylesheet" href="/styles/Employees-Login.css">
</head>
<body>

    <input class="message" type="text" value="<%=alert%>" style="display: none;">

    <form action="/employees/login" method="post" class="left">
        

        <main>

            <div class="logo">
                    <img src="/logo/png/logo-black-removebg-preview.png" alt="logo-black">
            </div>
            <div class="text">
                <h1>Login,</h1>
                <h2>Welcome Back, <b>Valued Partner!</b></h2>
            </div>
            <div class="login">
                <br>
                <input type="text" name="username" placeholder="Username">
                <br>
                <div class="pass">
                    <input type="password" name="password" placeholder="Password" >
                </div>
                <br>
                <button type="submit">Login</button>
            </div>


        </main>
        

    </form>




    <div class="right">
        <img src="/images/car.png" alt="car">
    </div>


    

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/alert.js"></script>
</body>
</html>