<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees Messages Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/Employee-Messages.css">
</head>
<body>
    
    <br>
    
    <div class="top">
        <nav>
            
           <div class="buttons">
                <a href="">Requests</a>
                <a href="">Progress</a>
                <a href="" id="active"> Messages</a>
           </div>
           <div class="note">
                <img src="/images/bell.png" alt="bell">
           </div>
           <div class="avatar">
            <img src="/images/person.png" alt="avatar">
           </div>

        </nav>
    </div>


    <div class="container">
        <div class="title">
            <h2>Messages</h2>
            <h5>These are direct messages from management tailored specifically for you!</h5>
        </div>
    </div>

    <div class="wrapper">

        <div class="requests">

            <div class="accordion" id="accordionExample">

                <div class="accordion-item">

                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h5>Message #1</h5>
                        <hr>
                        <h5><i>2023-04-10</i></h5>
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        text text text text text text text text text text text text text text text text text text text text 
                        text text text text text text text text text text text text text text text text text text 
                        text text text text text text text text text text text text text text text text text text text text text text 
                        text text text text text text text text text text text text text text text text 
                    </div>
                  </div>

                </div>

                <br>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      
                    <h5>Message #2</h5>
                    <hr>
                    <h5><i>2023-04-10</i></h5>

                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        text text text text text text text text text text text text text text text text text text text text 
                        text text text text text text text text text text text text text text text text text text 
                        text text text text text text text text text text text text text text text text text text text text text text 
                        text text text text text text text text text text text text text text text text 
                    </div>
                  </div>
                </div>

                <br>
                
                <div class="accordion-item">

                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h5>Message #3</h5>
                        <hr>
                        <h5><i>2023-04-10</i></h5>
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        text text text text text text text text text text text text text text text text text text text text 
                        text text text text text text text text text text text text text text text text text text 
                        text text text text text text text text text text text text text text text text text text text text text text 
                        text text text text text text text text text text text text text text text text 
                    </div>
                  </div>
                </div>

                <br>


              </div>





        </div>


    </div>
    <br>
    <br>

    <a href="" id="logout">
        <img src="/images/logout.png" alt="logout">
        Logout
    </a>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
