<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees Main Page</title>
    <link rel="stylesheet" href="/styles/Employees-Progress.css">
</head>
<body>
    
   <br>
    
    <div class="top">
        <nav>
            
           <div class="buttons">
                <a href="main">Requests</a>
                <a href="progress" id="active">Progress</a>
                <a href="messages"> Messages</a>
           </div>
           <center>
                <div class="note">
                    <img src="/images/bell.svg" alt="bell" onclick="location.href='/employees/messages'">
                </div>
            </center>
            <center>
                <div class="avatar">
                    <img src="/images/person.png" alt="avatar">
                </div>
            </center>

        </nav>
    </div>


    <div class="container">
        <div class="title">
            <h1>Progress</h1>
            <h3>We trust you to support our customers and stay motivated to earn bonuses!</h3>
        </div>
    </div>

    <div class="wrapper">

        <div class="requests">

           <canvas id="myPieChart"></canvas>

        </div>


    </div>
    <br>
    <center>
      <hr>
      <h4>Requests : <%= JSON.parse(info).total %></h4>
      <h4>Approved : <%= JSON.parse(info).employee %></h4>
    </center>
    <br>
    <br>

    <form action="/employees/logout" method="post">
        <button type="submit" id="logout">
            <img src="/images/logout.png" alt="logout">
                Logout
        </button>
       </form>

<script src="/js/notifications.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>

<script>
    const data = <%-info%>;   
    const ctx = document.getElementById('myPieChart').getContext('2d');
    const myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Requests','Approved'],
            datasets: [{
                data: [data.total, data.employee],
                backgroundColor: ['#4CAF50', '#FFC107'],
            }]
        },
        options: {
            responsive: true,
        }
    });
</script>
