<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Process Page</title>
    <link rel="stylesheet" href="/styles/Manager-Progress.css">
</head>
<body>
    
    <br>
    
    <div class="top">
        <nav>
            
           <div class="buttons">
                <a href="">Objections</a>
                <a href="" id="active">Progress</a>
                <a href=""> Messages</a>
           </div>
           <div class="note">
                <img src="/images/bell.png" alt="bell">
           </div>
           <div class="avatar">
            <img src="/images/person.png" alt="avatar">
           </div>

        </nav>
    </div>


    <div class="container">
        <div class="title">
            <h1>Progress</h1>
            <h3>Track your team's performance, review their progress, and ensure they stay on course for success and bonuses!</h3>
        </div>
    </div>

    <div class="wrapper">

        <div class="requests">

           <div class="for-input">
                <input type="text" placeholder="Search">
                <div class="icon"></div>
           </div>

           <h2>@Employee</h2>
           <div>
                <center>
                    <h3>Total Requests : 100</h3>
                    <h3>Approved : 80</h3>
                </center>
           </div>
           <br>

           <div class="progress">
            <div class="line" style="width:80%"></div>
            <h3>80%</h3>
           </div>

           

        </div>


    </div>
    <br>

    <br>
    <br>

    <a href="" id="logout">
        <img src="/images/logout.png" alt="logout">
        Logout
    </a>

</body>
</html>

