<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Main Page</title>
    <link rel="stylesheet" href="/styles/Manager-Main.css">
</head>
<body>
    
    <br>
    
    <div class="top">
        <nav>
            
           <div class="buttons">
                <a href="main" id="Requests">Objections</a>
                <a href="progress">Progress</a>
                <a href="messages"> Messages</a>
           </div>
           <div class="note">
                <img src="/images/bell.png" alt="bell">
           </div>
           <div class="avatar">
            <img src="/images/person.png" alt="avatar">
           </div>

        </nav>
    </div>


    <div class="container">
        <div class="title">
            <h1>Objections</h1>
            <h3>Manage requests information and review estimation precesses</h3>
        </div>
    </div>

    <div class="wrapper">

        <div class="requests">

            <div class="row">
                <div class="cl1">
                    <h3>Date</h3>
                </div>
                <div class="cl2">
                    <h3>Accident number</h3>
                </div>
                <div class="cl3"></div>
            </div>


            <div class="row">
                <div class="cl1">
                    <h3>Oct. 21, 2024</h3>
                </div>
                <div class="cl2">
                    <h3>JKL3330201002</h3>
                </div>
                <div class="cl3">
                    <button class="view">View</button>
                </div>
            </div>


            <div class="row">
                <div class="cl1">
                    <h3>Aug. 21, 2024</h3>
                </div>
                <div class="cl2">
                    <h3>JKL3330201002</h3>
                </div>
                <div class="cl3">
                    <button class="view">View</button>
                </div>
            </div>


            <div class="row">
                <div class="cl1">
                    <h3>July. 21, 2024</h3>
                </div>
                <div class="cl2">
                    <h3>JKL3330201002</h3>
                </div>
                <div class="cl3">
                    <button class="view">View</button>
                </div>
            </div>

            <div class="row">
                <div class="cl1">
                    <h3>July. 21, 2024</h3>
                </div>
                <div class="cl2">
                    <h3>JKL3330201002</h3>
                </div>
                <div class="cl3">
                    <button class="view">View</button>
                </div>
            </div>


            <div class="row">
                <div class="cl1">
                    <h3>July. 21, 2024</h3>
                </div>
                <div class="cl2">
                    <h3>JKL3330201002</h3>
                </div>
                <div class="cl3">
                    <button class="view">View</button>
                </div>
            </div>


            <div class="row">
                <div class="cl1">
                    <h3>July. 21, 2024</h3>
                </div>
                <div class="cl2">
                    <h3>JKL3330201002</h3>
                </div>
                <div class="cl3">
                    <button class="view">View</button>
                </div>
            </div>


            <div class="row">
                <div class="cl1">
                    <h3>July. 21, 2024</h3>
                </div>
                <div class="cl2">
                    <h3>JKL3330201002</h3>
                </div>
                <div class="cl3">
                    <button class="view">View</button>
                </div>
            </div>






        </div>


    </div>
    <br>
    <center>
      <hr>
      <h4>Total Objections : 200</h4>
    </center>
    <br>
    <br>

    <form action="/employees/logout" method="post">
        <button type="submit" id="logout">
            <img src="/images/logout.png" alt="logout">
                Logout
        </button>
    </form>


</body>
</html>