<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Messages Page</title>
    <link rel="stylesheet" href="/styles/Manager-Message.css">
</head>
<body>
    
    <br>
    
    <div class="top">
        <nav>
            
           <div class="buttons">
                <a href="">Objections</a>
                <a href="">Progress</a>
                <a href="" id="active"> Messages</a>
           </div>
           <div class="note">
                <img src="/images/bell.png" alt="bell">
           </div>
           <div class="avatar">
            <img src="/images/person.png" alt="avatar">
           </div>

        </nav>
    </div>


    <div class="container">
        <div class="title">
            <h1>Messages</h1>
            <h3>Communicate directly with your team and provide personalized feedback to drive their success!</h3>
        </div>
    </div>

    <div class="wrapper">

        <div class="requests">

           <div class="for-input">
                <input type="text" placeholder="Employee Name" list="name-suggestions">
                <datalist id="name-suggestions">
                    <option value="Ahmed">
                    <option value="Khalid">
                    <option value="Ali">
                    <option value="Mohammed">
                </datalist>
                <div class="icon"></div>
           </div>
           <br>
           <div class="form">

                <div class="form-title">
                    <input type="text" name="title" placeholder="Title" >
    
                </div>
                <div class="form-message">
                    <textarea placeholder="Your Message...."></textarea>
                </div>


           </div>
           <br>
           
           <button>Send</button>


           

        </div>


    </div>
    <br>

    <br>
    <br>

    <a href="" id="logout">
        <img src="/images/logout.png" alt="logout">
        Logout
    </a>

</body>
</html>

