<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Messages Page</title>
    <link rel="stylesheet" href="/styles/Manager-Messages.css">
</head>
<body>
    
    <input class="message" type="text" value="<%=alert%>" style="display: none;">
    <br>
    
    <div class="top">
        <nav>
            
           <div class="buttons">
                <a href="main">Objections</a>
                <a href="progress">Progress</a>
                <a href="messages" id="active"> Messages</a>
           </div>
           <div class="avatar">
                <img src="/images/person.png" alt="avatar">
           </div>

        </nav>
    </div>


    <div class="container">
        <div class="title">
            <h1>Messages</h1>
            <h3>Communicate directly with your team and provide personalized feedback to drive their success!</h3>
        </div>
    </div>

    <div class="wrapper">

        <div class="requests">

           <div class="for-input">
                <input type="text" placeholder="Employee Name" list="name-suggestions" id="selectEmployee" required>
                <datalist id="name-suggestions">
                    <% names.forEach(name => { %>
                        <option value="<%= name.username %>" data-id="<%= name._id %>"></option>
                    <% }) %>
                </datalist>
           </div>
           <br>

           <form action="/managers/messages" method="post" class="form">
            <input type="hidden" name="employeeId" id="employeeId" required>
            <div class="form-title">
                <input type="text" name="title" placeholder="Title" required>
            </div>
            <div class="form-message">
                <textarea name="message" placeholder="Your Message..." required></textarea>
            </div>
            <br>
            <button type="submit">Send</button>
        </form>
           <br>
           

           

        </div>


    </div>
    <br>

    <br>
    <br>

    <form action="/employees/logout" method="post">
        <button type="submit" id="logout">
            <img src="/images/logout.png" alt="logout">
                Logout
        </button>
    </form>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/alert.js"></script>
</body>
</html>


<script>

    document.querySelector('form').addEventListener('submit', (e) => {
        const employeeName = document.querySelector('#selectEmployee').value;
        const employeeOption = Array.from(document.querySelectorAll('#name-suggestions option')).find(
            option => option.value === employeeName
        );
        if (!employeeOption) {
            e.preventDefault();
            document.querySelector(".for-input").style.border = "1px solid red";
            return;
        }
        document.querySelector('#employeeId').value = employeeOption.getAttribute('data-id');
    });
</script>
