<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/styles/Reset-Password.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form class="reset-form" method="post" action="/reset/<%=id%>">
            <img src="/logo/png/logo-black-removebg-preview.png" alt="Company Logo" class="logo">
            <h1>Reset Password</h1>
            <p>Please enter a new password for @<%=username%></p>
            <div class="input-group">
                <label for="new-password">New Password</label>
                <input type="password" name="password" id="new-password" placeholder="Enter new password" required>
            </div>
            <div class="input-group">
                <label for="confirm-password">Confirm New Password</label>
                <input type="password" id="confirm-password" placeholder="Confirm new password" required>
            </div>
            <button type="submit">Reset Password</button>
        </form>
    </div>



<script src="/js/reset_validation.js"></script>   
</body>
</html>
