<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/styles/Reset-Password.css">
</head>
<body>
    


    <main>
        <h1>Reseting Password for @username</h1>
        <br>
        <input type="text" placeholder="New Password">
        <br>
        <input type="text" placeholder="Confirm New Password">
        <br>
        <button>Reset</button>
    </main>
    
    <img src="/logo/png/logo-white-removebg-preview.png" alt="">



</body>
</html>