<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Login</title>
    <link rel="stylesheet" href="/styles/Users-Login.css">
</head>
<body>
    
    <input class="message" type="text" value="<%=alert%>" style="display: none;">


    <form action="/reset" method="post" class="left">
        

        <main>

            <div class="logo">
                    <img src="/logo/png/logo-black-removebg-preview.png" alt="logo-black">
            </div>
            <div class="text">
                <h1>Reset Password,</h1>
                <h2>Welcome to Qaddr</h2>
            </div>
            <div class="login">
                <br>
                <input type="text" name="username" placeholder="Username" required>
                <br>
                <button>Reset</button>
                <br>
                <center>
                    <h4>Login page <a href="/login">Click here</a></h4>
                </center>
            </div>


        </main>


    </form>




    <div class="right">
        <img src="/images/car.png" alt="car">
    </div>


    


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/alert.js"></script>
</body>
</html>