<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/styles/Users-Register.css">
</head>
<body>
    
    <input class="message" type="text" value="<%=alert%>" style="display: none;">

    <form action="/register" method="post" class="left">
        

        <main>

            <div class="logo">
                    <img src="/logo/png/logo-black-removebg-preview.png" alt="logo-black">
            </div>
            <div class="text">
                <h1>Register,</h1>
                <h2>Welcome to Qaddr</h2>
            </div>
            <div class="login">
                <input type="text" class="username" name="username" placeholder="Username" required>
                <input type="email" class="email" name="email" placeholder="Email" required>
                <input type="password" class="password" name="password" placeholder="Password at least 8 characters" required>
                <input type="password" class="confirm" placeholder="Confirm Password" required>
                <br>
                <button class="register" type="submit">Register</button>
                <center>
                    <h4>have an account? <a href="/login">Login</a></h4>
                </center>
            </div>

        </main>


    </form>




    <div class="right">
        <img src="/images/car.png" alt="car">
    </div>


    


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/alert.js"></script>
<script src="/js/register_validation.js"></script>
</body>
</html>