<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees Main Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <br>
    
    <div class="top">
        <nav>
            
           <div class="buttons">
                <a href="">Requests</a>
                <a href="" id="active">Progress</a>
                <a href=""> Messages</a>
           </div>
           <div class="note">
                <img src="/images/bell.png" alt="bell">
           </div>
           <div class="avatar">
            <img src="/images/person.png" alt="avatar">
           </div>

        </nav>
    </div>


    <div class="container">
        <div class="title">
            <h1>Progress</h1>
            <h3>We trust you to support our customers and stay motivated to earn bonuses!</h3>
        </div>
    </div>

    <div class="wrapper">

        <div class="requests">

           <canvas id="myPieChart"></canvas>

        </div>


    </div>
    <br>
    <center>
      <hr>
      <h4>Requests : 200</h4>
      <h4>Approved : 50</h4>
    </center>
    <br>
    <br>

    <a href="" id="logout">
        <img src="/images/logout.png" alt="logout">
        Logout
    </a>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>

<script>
    const ctx = document.getElementById('myPieChart').getContext('2d');
    const myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Requests','Approved'],
            datasets: [{
                data: [200, 50],
                backgroundColor: ['#4CAF50', '#FFC107'],
            }]
        },
        options: {
            responsive: true,
        }
    });
</script>
