<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    

    <div class="left">
        

        <main>

            <div class="logo">
                    <img src="/logo/png/logo-black-removebg-preview.png" alt="logo-black">
            </div>
            <div class="text">
                <h1>Login,</h1>
                <h2>Welcome Back, <b>Valued Partner!</b></h2>
            </div>
            <div class="login">
                <br>
                <input type="text" placeholder="Username">
                <br>
                <div class="pass">
                    <input type="password" placeholder="Password" >
                </div>
                <br>
                <button>Login</button>
            </div>


        </main>


    </div>




    <div class="right">
        <img src="/images/car.png" alt="car">
    </div>


    



</body>
</html>