@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

*{
    padding:0;
    margin: 0;
    font-family: "Cairo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0; /* slant */
    /* border: 2px solid red; */

}
html,body{
    width:100% ;
    height:100%;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 250px;
    scroll-behavior: smooth;   
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap;
    height: auto; 
}
.for-nav{
    width: 100%;
    display:grid;
    place-items: center center;
    background: rgba(255,255,255,.9);
    background: white;
}

.logo{
    width:30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    min-width: 250px;
}
.logo img {
    width:40%;
    min-width: 50px;
    aspect-ratio: 1/1;
}



.center{
    width:40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    min-width: 150px;
}
.center h4{
    text-decoration: underline;
    cursor: pointer;
    color:rgb(95, 93, 93);
}




.visit{
    width:30%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap:2%;
    /* padding-right: 1rem; */
    min-width: 200px;
}
.visit button{
    width:100%;
    height:50px;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 120px;
    font-size: 16px;
    max-width: 150px; 
}
.visit .login{
    background: #01DC82;
    transition: 250ms;
}
.visit .login:hover, .try:hover,.contact-box button:hover{
    background: #02bd6f;
}

.visit .register{
    background: #F5F5F5;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
.visit .register:hover{
    background: #e2e1e1;
}


main{
    width:100%;
    height:auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
main h1 strong{
    color: #01DC82;
}
main h3{
    color:#545151;
}


.cards{
    width:50%;
    height:50%;
    /* background: rgb(180, 177, 177); */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
}
.card{
    width:60%;
    height:100px;
    background: rgba(217,217,217,.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    min-width: 250px;


}
.sign{
    width:20%;
    height:80%;
    background: rgba(0,59,62,0.8);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    min-width: fit-content;
}
.title{
    width:75%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.try{
    border: none;
    outline: none;
    cursor: pointer;
    background: #01DC82;
    border: 1px solid black;
    width:60%;
    height:100px;
    min-width: 250px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    transition: 250ms;
}


.for-image{
    width:100%;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #003B3E;
    position: relative;

}

.for-image .img{
    width:80%;
    height:200px;
    background: red;
    background-image: url("/images/car-servicing-image-07-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(0.7);
    border-radius: 10px;
}
.for-image h1{
    color:whitesmoke;
    position: absolute;
    z-index: 99;
}

section:not(.for-nav){
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-title{
    width:80%;
    height:auto;
}

.sub-title{
    width:70%;
    height:auto;
    display: flex;
    justify-content: space-around;
    gap:1rem;
    flex-wrap: wrap;
}


.sub-title .card{
    width: 20%;
    height: 70px;
    margin-top: .5rem;
}



.sub-title img{
    width:100px;
    height: 100px;
    background: #003B3E;
    border-radius: 50%;
}

.contact-box{
    width:70%;
    height:auto;
    background: #003B3E;
    border-radius: 20px;
    text-align: center;
    min-width: 200px;
    padding: 0 2rem;
}

.contact-box h1{
    color:whitesmoke;
}
.contact-box h1 i{
    color:#01DC82;
}
.contact-box h3{
    color:#9B9A9A;
}
.contact-box button{
    width:50%;
    height: 50px;
    border: none;
    outline: none;
    background: #01DC82;
    border-radius: 120px;
    cursor: pointer;

}


footer{
    width:80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
footer .footer-logo img{
    width: 95%;
    aspect-ratio: 1/1;
    max-width: 200px;
}
footer .footer-logo{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .company{
    width:30%;
    height:100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.company h4,.services h4{
    cursor: pointer;
}
.company h4:hover,.services h4:hover{
    text-decoration: underline;
}

footer .services{
    width:30%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

hr{
    width: 80%;
    height: 1px;
}


a{
    text-decoration: none;
    color:black;
}

@media (max-width: 412px) {

    .logo{
        justify-content: center;
    }


}


::-webkit-scrollbar{
    background: white;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #003B3E;
    border-radius: 120px;
    
}



.up{
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #01DC82;
    color:black;
    font-size: large;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}